<div class="row">
  <div class="col-lg-10 col-md-10 col-xs-12">
    <div id="noteList" class="card" *ngFor="let note of noteArr">
      <div class="card-body">
        <h5 class="card-title">
          {{ note.Title }}
        </h5>
        <div class="card-subtitle mb-2 text-muted">
          {{note.Tag}}
        </div>
        <p class="card-text">
          {{ note.Post }}
        </p>
        <button type="button" class="btn btn-primary" (click)="editNote(note.Id)">Edit</button>
      </div>
    </div>
  </div>
</div>
